@()(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._

@import controllers._
@import play.api.mvc._

@main(){

<h1>Play2 Server-sent events sample</h1>

<p>This is a very simple Play2 application to demonstrate Play2 Enumerator/Enumeratee with Server sent event.
   The source code is on <a href="https://github.com/nicmarti/play2-serverside-sample">Github</a> and if you read French, I also
    wrote a full article with much more details on <a href="http://www.touilleur-express.fr/2012/08/05/realtime-web-application-un-exemple-avec-play2/">Touilleur Express</a>.<br/>
    Nicolas Martignole
</p>

<button id="disconnect" href="#" class="btn btn-danger btn-small" disabled="disabled">Disconnect</button>

<h3 id="status"></h3>

<div class="resultBox">
    <h3>Airfare price</h3>
    <span id="resultAirfare">Contacting eDreams...</span>
</div>
<div class="resultBox">
    <h3>Hotel price</h3>
    <span id="resultHotel"></span>
</div>

<script type="text/javascript" charset="utf-8">
    var feed;
    if (!!window.EventSource) {
        feed = new EventSource('/stream');

        // Connection was opened.
        feed.addEventListener('open', function (e) {
            $("#status").html("Connection open");
            $("#disconnect").removeAttr("disabled");
        }, false);

        feed.addEventListener('airfare', function(e) {
          var data = JSON.parse(e.data);
            $("#status").html("Airfare price received");
            $("#resultAirfare").html(data.price);
        }, false);

        feed.addEventListener('hotel', function(e) {
          var data = JSON.parse(e.data);
            $("#status").html("Hotel price received");
            $("#resultHotel").html(data.price);
        }, false);

        feed.addEventListener('message', function(e) {
          var data = JSON.parse(e.data);
            $("#status").html("Generic message received");
            console.log(e.data);
        }, false);

        feed.addEventListener('error', function (e) {
            if (e.readyState == EventSource.CLOSED) {
                $("#status").html("Connection closed");
                $("#disconnect").attr("disabled", "disabled");
            } else {
                $("#status").html("Unknown error" + e);
                $("#disconnect").attr("disabled", "disabled");
            }
        }, false);

    } else {
        $("#status").html("Serverside Send Event not supported by this browser");
    }

    $(document).ready(function () {
        $("#disconnect").attr("disabled", "disabled");
    });

    $("#disconnect").click(function(e){
        e.preventDefault();
       feed.close();
       $("#status").html("Disconnected");
        $("#disconnect").attr("disabled", "disabled");
    });

</script>

}